$text-color: hsl(237, 18%, 59%);
$logo-color: hsl(237, 18%, 59%);
$card-text-color: hsl(345, 95%, 68%);
$h2-color: hsl(0, 0%, 100%);
$card-color1: #2c2c42;
$card-color2: hsl(236, 21%, 26%);
$line-card-color: #1c1924;
$background-color: #201c2a;
$box-shadow-color: hsl(234, 17%, 12%);
